name: Docs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build docs (python-${{ matrix.python-version }}, ${{ matrix.os }})
    strategy:
      matrix:
        python-version:
          #          - "3.10"
          #          - "3.11"
          #          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest

      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      UV_HTTP_TIMEOUT: 900 # max 15min to install deps
    steps:
      - name: Setup pandoc
        uses: pandoc/actions/setup@v1
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --extra docs

      - name: Build docs
        run: uv run mkdocs build

      - name: Minimize uv cache
        run: uv cache prune --ci

  deploy:
    name: Deploy docs
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    env:
      UV_HTTP_TIMEOUT: 900 # max 15min to install deps
    steps:
      - name: Setup pandoc
        uses: pandoc/actions/setup@v1
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --extra docs

      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force

      - name: Minimize uv cache
        run: uv cache prune --ci
